 <footer class="footer">
    <div class="socialinfo"></div>
    <div>unique bid</div>
    <a href="/privacy">privacy </a>
    <br>
    <a href="/terms"> terms and condition</a>
    <div>copyright @ 2024 uniquebid</div>
 </footer>