<% layout("/layouts/boilerplate") %>
<body>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1" style="margin:5px">
    <%for(let item of allItems){ %>
        <a href="/items/<%=item._id%>">
    <div class="card col" style="width: 18rem; margin:10px; border:none;">
  <img src= <%=item.image%> class="card-img-top" alt="item image">
  <div class="card-body">
    <p class="card-text">
        <%=item.title%>
        <br>
        $<%= item.startingPrice%>
    </p>
  </div>
</div>
 </a>
<br>
<%}%>
</div>

</body>


